.section-padding {
  padding: 5rem 1.5rem;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 5rem 3rem;
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding: 5rem 6rem;
  }
}